@import "../../assets/styles/variables";
.basket {
  &__container {
    padding: 40px 0;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
  }
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    & img {
      width: 20px;
      height: 20px;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    & h2 {
      font-size: 20px;
      letter-spacing: 2px;
      margin: 0;
      color: white;
    }
    & img {
      margin-right: 10px;
    }
  }

  &__empty-cart {
    display: flex;
    align-items: center;
    cursor: pointer;
    & p {
      font-size: 15px;
      letter-spacing: 1px;
      margin: 0;
      color: white;
    }
    & img {
      margin-right: 5px;
    }
  }

  &__bottom {
    margin-top: 50px;
  }

  &__total-amount {
    margin-bottom: 15px;
    color: white;
    font-size: 17px;
    & span {
      color: rgb(255, 119, 56);
      font-weight: 600;
    }
  }

  &__make-order-btn {
    cursor: pointer;
    display: inline-block;
    font-size: 19px;
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(255, 119, 56);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    color: white;
    letter-spacing: 1.5px;
  }
}
