@import "@scss/_variables.scss";
.product-item {
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  background-color: $product-item-background-color;
  padding: 20px;
  overflow: hidden;
  box-shadow: 0px 5px 10px 0px rgb(0, 0, 0);

  &__image {
    min-height: 432px;
    margin-bottom: 30px;
    width: 300px;
    margin: 0 auto;
    & img {
      width: 100%;
    }
  }

  &__title {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 17px;
    color: black;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

  &__footer {
    text-align: center;
  }

  &__price {
    text-align: left;
    margin-bottom: 15px;
    & span {
      font-size: 16px;
      color: #ff7222;
      font-weight: 600;
    }
  }

  &__amount-block {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__remove-button {
  }

  &__amount {
    margin: 0 5px;
    font-weight: 600;
  }

  &__add-button {
  }
}
