@import "@scss/_variables.scss";

.header {
  margin: 20px auto;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid $green-color;

    & img {
      width: 100%;
      height: auto;
    }
  }
}
.container {
}
