@import "@scss/_variables.scss";

.change-sound {
  &__title {
    color: $font-color-white;
    font-size: 15px;
    margin-bottom: 15px;
  }

  &__buttons {
    border: 2px solid $border-color;
    border-radius: 18px;
    & img {
      width: 35px;
      height: 35px;
      padding: 0 8px;
      border-right: 2px solid $border-color;
    }
  }

  &__minus {
  }

  &__reset {
  }

  &__plus {
    & img {
      border-right: none;
    }
  }
}
