@import "./mixins";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;900&display=swap");

$main-font-family: "Inter", sans-serif;
$logo-font-family: "Montserrat", sans-serif;

$main-background-color-black: #1a1d24;
$playground-background-color: #151823;

$green-color: #0fffc1;
$purple-color: #7e0fff;
$orange-color: rgb(255, 145, 0);
$beige-color: #ffd5a2;

$border-color: #434e72;
$box-shadow-color: #7f0fff7c;

$note-play-border: $beige-color;
$note-play-shadow: $orange-color;

$font-color-white: #fffcfc;
$font-color-yellow: #fffcfc;
