@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;900&display=swap");

$main-font-family: "Inter", sans-serif;
$logo-font-family: "Montserrat", sans-serif;

$main-background-color-black: #1a1d24;
$playground-background-color: #151823;

$green-color: #0fffc1;
$purple-color: #7e0fff;
$orange-color: rgb(255, 145, 0);
$beige-color: #ffd5a2;

$border-color: #434e72;
$box-shadow-color: #7f0fff7c;

$note-play-border: $beige-color;
$note-play-shadow: $orange-color;

$font-color-white: #fffcfc;
$font-color-yellow: #fffcfc;

//breakpoints

@mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: 599px) {
      @content;
    }
  } @else if $size == tablet-portrait-up {
    @media (max-width: 600px) {
      @content;
    }
  } @else if $size == tablet-landscape-up {
    @media (max-width: 900px) {
      @content;
    }
  } @else if $size == desktop-up {
    @media (max-width: 1300px) {
      @content;
    }
  } @else if $size == big-desktop-up {
    @media (max-width: 1800px) {
      @content;
    }
  }
}

@mixin backlight($x, $y, $spread, $size, $colorA, $colorB, $duration) {
  &:after {
    position: absolute;
    content: "";
    top: $y;
    left: $x;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale($size);
    -webkit-filter: blur($spread);
    -moz-filter: blur($spread);
    -ms-filter: blur($spread);
    filter: blur($spread);
    background: linear-gradient(270deg, $colorA, $colorB);
    background-size: 200% 200%;
    animation: animateGlow $duration ease infinite;
    background-position: 100% 50%;
    @keyframes animateGlow {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
  }
}

@mixin note-shadow($opacity) {
  &:after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border: 1px solid $note-play-border;
    box-shadow: 2px 2px 20px 2px $note-play-shadow;
    border-radius: 50%;
    opacity: $opacity;
    transition: all 0.5s ease;
  }
}

@mixin scaleplay() {
  text-shadow: 0 0 7px $text-shadow-color, 0 0 10px $text-shadow-color,
    0 0 21px $text-shadow-color, 0 0 42px $text-shadow-color,
    0 0 82px $text-shadow-color, 0 0 92px $text-shadow-color,
    0 0 102px $text-shadow-color;
}
