@import "./mixins";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;900&display=swap");

$main-font-family: "Inter", sans-serif;
$logo-font-family: "Montserrat", sans-serif;

$main-background-color-black: rgb(33, 23, 44);
$playground-background-color: rgb(64, 54, 78);

$green-color: #ffde00;
$purple-color: #7e0fff;
$orange-color: $green-color;
$beige-color: $green-color;

$border-color: #434e72;
$box-shadow-color: #7f0fff7c;

$note-play-border: $beige-color;
$note-play-shadow: $orange-color;

$font-color-white: #fffcfc;
$font-color-yellow: #fffcfc;
$font-color-orange: #ff7222;

$btn-background-color: #ffffff;
$btn-text-color: #ff7222;
$btn-border-color: #ff7222;

$dropdown-background-color: #ffffff;
$dropdown-text-color: #ff7222;
$dropdown-titles-color: $purple-color;
$dropdown-border-color: #ff7222;

$popup-background-color: #ffffff;
$popup-note-background-color: #ff7222;
$popup-text-color: #000000;
